# Ignore all
*

# Do not ignore
!.gitignore
!custom-config.sh
!/fastfetch/
!/fastfetch/*
!/assets/
!/assets/*
!/btop/
!/btop/*
!/nvim/
!/nvim/*
!/nvim/lua/*
!/nvim/lua/config/*
!/nvim/lua/plugins/*
**/.DS_Store
